/obj/
/bin/data/images/generated_map.png
/bin/*.dll
/bin/*.exe
/bin/*.so
/bin/*.app/

# Compiled files
*.o
*.out
*.exe

# Build folders
/build/
/bin/

# VS Code settings
.vscode/

# Python cache
__pycache__/
*.pyc